In [1]:
import pandas as pd

In [ ]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.
# Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
# If you use the SQL option below, youâ€™ll need to cast your columns as floats using WHERE CAST(helpful_votes AS FLOAT)/CAST(total_votes AS FLOAT) >=0.5.
# Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.
# Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [2]:
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3O9SGZBVQBV76,5,0,0,N,Y
1,RKH8BNC3L5DLF,5,0,0,N,Y
2,R2HLE8WKZSU3NL,2,1,1,N,Y
3,R31U3UH5AZ42LL,5,0,0,N,Y
4,R2SV659OUJ945Y,4,0,0,N,Y

In [3]:
vine_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [4]:
vine_df.shape

(960872, 6)

In [6]:
vine_greater20 = vine_df[vine_df['total_votes'] >= 20].copy()
vine_greater20.shape

(9631, 6)

In [7]:
vine_greater50 = vine_greater20[(vine_greater20['helpful_votes']/ vine_greater20['total_votes']) >= .5].copy()
vine_greater50.shape

(8409, 6)

In [8]:
vine_yes = vine_greater50[vine_greater50['vine'] == 'Y'].copy()
vine_yes.shape

(47, 6)

In [17]:
vine_yes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4122,R1B7M0OP3UNP6O,5,49,52,Y,N
334756,R2UUV4UGGYMQG8,5,34,39,Y,N
428946,R9K0LZV2BK9YY,4,37,39,Y,N
477323,R2OVFLNEUEGTJM,3,18,25,Y,N
664604,RBE09ELJ77LQ0,5,44,45,Y,N

In [9]:
vine_no = vine_greater50[vine_greater50['vine'] == 'N'].copy()
vine_no.shape

(8362, 6)

In [18]:
vine_no.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y

In [10]:
total_reviews = vine_greater50.shape[0]
total_reviews

8409

In [11]:
total_paid_reviews = vine_yes.shape[0]
total_paid_reviews

47

In [12]:
number_5star_yes = vine_yes[vine_yes['star_rating']== 5].copy()
total_5star_paid_reviews = number_5star_yes.shape[0]
total_5star_paid_reviews

15

In [13]:
percentage_5star_paid = (total_5star_paid_reviews / total_paid_reviews) * 100
percentage_5star_paid

31.914893617021278

In [14]:
total_unpaid_reviews = vine_no.shape[0]
total_unpaid_reviews

8362

In [15]:
number_5star_no = vine_no[vine_no['star_rating']== 5].copy()
total_5star_unpaid_reviews = number_5star_no.shape[0]
total_5star_unpaid_reviews

4332

In [16]:
percentage_5star_unpaid = (total_5star_unpaid_reviews / total_unpaid_reviews) * 100
percentage_5star_unpaid

51.80578808897393